/* Resetting default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flexbox utility class*/
.flex {
  display: flex;
}

/* Cursor pointer utility class for interactive elements */
.cursor {
  cursor: pointer;
}

body {
  display: flex;
  font-family: "Alatsi", sans-serif; /* External font from Google Fonts "Alatsi" */
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
}

/* Sidebar */
aside {
  position: fixed;
  width: 16vw;
  padding: 10px 0 0 20px;
  border-right: 1px solid #363638;
}

.title {
  margin: 20px 0 35px 0;
  cursor: pointer;
}

.iconbox {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.icons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Profile mini image in sidebar */
.profile-minimg {
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.profilebox {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.profilebox p {
  margin-left: 15px;
}

/* Spacer in the sidebar */
.box {
  height: 18vh;
}

/* Main section */
main {
  width: 84vw;
  margin-left: 16vw; /* bacause the sidebar is 16vw wide */
}

/* Header */
header {
  display: flex;
  margin-bottom: 20px;
  padding-top: 3%;
}

.profile-frame {
  display: flex; /* the flexbox is used to arrange the profile photo and new icon */
  flex-direction: column; /* to keep the items arranged vertically */
  align-items: flex-end; /* the items are arranged to the left */
  width: 30vw;
  height: auto;
  padding-right: 1%;
}

.profile-photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
}

.icon-new {
  font-size: small;
  margin: 6% 15% 0 0;
  text-align: center;
  cursor: pointer;
}

.bio-frame {
  padding-left: 3%;
}

.bio-frame h1 {
  font-size: 20px;
  margin-right: 20px;
}

.button {
  width: 100px;
  height: 32px;
  background-color: #363638;
  border-radius: 10px;
  font-size: 14px;
  margin: 0 5px;
  padding-top: 6px;
  cursor: pointer;
}

.stats {
  width: 22vw;
  justify-content: space-between;
  margin: 20px 0;
}

.user-name {
  text-align: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  width: 52vw;
  height: 6vh;
  border-top: 1px solid #363638;
  margin: 0 0 14px 18.5%;
}

.click {
  display: flex;
  height: 100%;
  align-items: end;
  font-size: 13px;
  color: #363638;
  margin: 0 20px;
  cursor: pointer;
}

/* utility class for the selected items in the nav */
.selected {
  color: rgba(255, 255, 255, 0.7);
  border-top: 3px solid rgba(255, 255, 255, 0.7);
}

.click-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

/* Middle section */
section {
  display: flex;
  justify-content: center; /* to center the content horizontally */
}

/* Gallery grid for images */
.gallery-grid {
  display: grid; /* to make a grid */
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  column-gap: 6px; /* to add space between columns */
  row-gap: 6px; /* to add space between rows */
  width: 52vw; /* to make width take up 50% of the viewpoint width */
  height: 80vh; /* to make height take up 80% of the viewpoint height */
}

.image-frame img {
  width: 100%; /* to make width of images take up 100% of their container frame's width */
  height: 100%; /* to make height of images take up 100% of their container frame's height */
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column; /* to keep the 1st & 2nd lines of items in the footer arranged vertically */
  height: 10vh;
  margin-top: 20px;
}

.footer-items {
  list-style-type: none; /* to remove the bullet points */
  justify-content: center;
  color: #363638;
}

.footer-items li {
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
}

.arrow {
  margin: 5px 0 0 5px;
}
